$primario_1: rgb(255, 255, 255);
$primario_2: rgb(44, 42, 42);
$primario_3: #ff6900;
$primario_3_sombra: rgba(218, 165, 32, 0.4);
$secundario_1: rgb(3, 37, 65);
$secundario_2: #ff6900;
$secundario_3: rgb(218, 165, 32);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("../font/roboto-bold/roboto-bold.woff2") format("woff2"),
    url("../font/roboto-bold/roboto-bold.woff") format("woff"),
    url("../font/roboto-bold/roboto-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../font/roboto-italic/roboto-italic.woff2?#iefix") format("woff2"),
    url("../font/roboto-italic/roboto-italic.woff") format("woff"),
    url("../font/roboto-italic/roboto-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "roboto";
  src: url("../font/roboto-light/roboto-light.woff2?#iefix") format("woff2"),
    url("../font/roboto-light/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../font/roboto-regular/roboto-regular.woff2?#iefix") format("woff2"),
    url("../font/roboto-regular/roboto-regular.woff") format("woff"),
    url("../font/roboto-regular/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src: url("../font/oswald/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.valor {
  font-family: "oswald", sans-serif;
}

header {
  display: flex;
  background-color: $primario_1;
  justify-content: center;
  background-color: $secundario_1;
  align-items: center;
  top: 0;
  left: 0;
  height: auto;
  font-size: 20px;
  width: 100%;
  transition: top 0.2s linear;
  transition-property: top;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  border-bottom: 1px solid $primario_1;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 5px;
}

.header a:hover {
  background-color: rgba(26, 26, 26, 0.5);

  color: white;
}
.header a.active {
  border-radius: 4px;
  border-style: solid;
  border-color: yellow;
  border-width: 1px;
  color: white;
}

.direita {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin: 0px;
  margin-right: 20px;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .conteudo {
    display: inline-flex;
    justify-content: space-between;
  }
  .esquerda {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    margin-left: 20px;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.7em;
    }
    a {
      float: left;

      text-align: center;
      padding: 8px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      cursor: pointer;
      img {
        width: 200px;
        height: auto;
      }
    }
  } /* 
    .dropdown {
      display: inline-block;
      position: relative;
      left: -40px;
      img {
        width: 60px;
        height: auto;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;

      overflow: auto;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a {
      display: block;
      color: #000000;
      padding: 5px;
      text-decoration: none;
    }
    .dropdown-content a:hover {
      color: #ffffff;
      background-color: #00a4bd;
    } */
  /* .filtrar {
      display: flex;
      margin-right: 20px;
      align-items: center;
      .filtros {
        align-items: center;
        h3 {
          font-size: 14px;
        }
        a {
          border: 1px solid white;
          border-radius: 4px;
          padding: 5px;
        }
        .data {
          display: flex;
          align-items: baseline;
          h3 {
            margin-right: 10px;
          }
          .entrada-data {
            display: flex;
            align-items: center;
            h4 {
              font-size: 14px;
            }
            input {
              margin-left: 10px;
              margin-right: 20px;
            }
          }
        }
      }
    } */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 500px;
  .resumo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;

    .local {
      display: flex;

      align-items: center;
      padding: 60px 0px;
      height: 100%;
      flex-direction: column;
      align-content: center;
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        margin-bottom: 60px;

        .cidade {
          font-size: 60px;
          font-weight: 400;
        }
        .atualizacao {
          font-weight: lighter;
          font-size: 20px;
        }

        h1.valor {
          font-size: 50px;
        }

        h2 {
          font-style: italic;
        }
      }
      .info2 {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 200px;

        div {
          width: 100px;
          height: 100px;
          padding: 5px;
          margin: 5px;
          border-radius: 6px;
          border: 1px solid white;
          display: flex;
          flex-direction: column;
          vertical-align: middle;
          align-items: center;
          justify-content: center;

          h1 {
            font-size: 15px;
            font-style: italic;
          }
        }
      }
    }
  }
  .grafico {
    width: 70%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

.opcoes {
  width: 100%;
  height: auto;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  color: black;
}
.opcoes div.ordenar {
  @media screen and (max-width: 600px) {
    max-width: 300px;
    padding: 0px 10px;
    min-width: 260px;
    margin-right: 0px;
  }

  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 0.8em;
  transition: 0.2s;
  border-radius: 8px;
  border-color: $primario_3;
  border-style: solid;
  border-width: 0.1em;
  width: 100%;
  a {
    cursor: pointer;
  }
  div.ordenacaoInline {
    display: flex;
    flex-direction: column;
  }
}

.opcoes div.texto {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  span {
    margin-right: 5px;
  }
}

.ordenar div.selecao {
  overflow: hidden;
  margin: 10px 15px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  cursor: default;
  min-height: 60px;
}

.opcoes div.texto h2 {
  margin: 10px 0px;
  margin-left: 10px;
}
.ordenar div.selecao h3 {
  margin: 0px;
  margin-top: 10px;
}

.alternaTipos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .botaoFiltrar {
    padding: 10px;
    border: 1px solid $secundario_1;
    border-radius: 4px;
  }
}

.closed {
  display: none;
}
